.about-page-container{
    background-color: rgb(0, 8, 16);
    width: 100%;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

    font-size: 3em;
}
  
  .carousel-wrapper {
      width: clamp(20rem, 5vw, 10rem);
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .bqdePq{
        height: 400px;
    }

    .rec-arrow {
        display: none;
    }

    button{
        width: 20px;
        height: 20px;
    }

    .ejXxNI{
        box-shadow: 0 0 1px 3px #0ff !important;
        background-color: rgba(255, 0, 255, 0.8)  !important;
        margin: 10px;
    }
    
    .jLgnwX{
        box-shadow: 0 0 1px 3px #0ff !important;
        margin: 10px;
        &:hover{
            background-color: rgba(255, 0, 255, 0.25) !important;
            box-shadow: 0 0 1px 3px rgba(0, 255, 255, 0.25) !important;
        }
    }
  }

  .about-page-pic-desc-container{
    width: 80%;
    margin: 25px;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    .pic-container, .desc-container{
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        margin-top:3rem;
    }

}

.about-page-desc-content{
    width: clamp(300px, 50%, 50%);
    min-height: 350px;
    background-color: rgba(64, 64, 64, 0.25);
    box-shadow:
    0px -2px 0 4px #0ff,
    -6px 4px 0 3px #f0f;
}

.about-page-desc-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    h3, p {
      width: 100%;
      text-align: center;
      margin: 15px;
    }
    p{
        font-size: .4em;
    }
    h3{
        font-size: .45em;
    }
  }