.about-page-container{
    background-color: #000000;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

    font-size: 3em;
}