*{
    overflow-x: hidden;
  }
  
  .page{
    width: 100vw;
    min-height: 25vh;
  }
  
  .Main{
    position: relative;
    overflow: hidden;
    .pixel-container{
        position: absolute;
        top: 0;
        overflow: hidden;
        left: 0;
        width: 100%;
        height: 3697px;
        z-index: 11;
        pointer-events: none;
    }
}

 // Heading Glitch Effect

.glitch{
  overflow: hidden;
  color:white;
  font-size: var(--heading-font-size);
  position:relative;
  margin:0;

}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow: 1px 0 red;
  top:0;
  color:white;
  background:rgb(0, 8, 16);
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  background:rgb(0, 8, 16);
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}
