.skills-page-container {
  background-color: #000810;
  width: 100%;
  height: 100vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  font-size: 3em;
}

.skills-header {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@-webkit-keyframes skill-box-hover {
  0% {
    background-color: #404040;
  }
  13% {
    background-color: #404040;
  }
  15% {
    background-color: #ff0000;
  }
  17% {
    background-color: #404040;
  }
  43% {
    background-color: #404040;
  }
  45% {
    background-color: #00f7ff;
  }
  47% {
    background-color: #404040;
  }
  66% {
    background-color: #404040;
  }
  69% {
    background-color: #58ff52;
  }
  71% {
    background-color: #404040;
  }
  100% {
    background-color: #404040;
  }
}

@keyframes skill-box-hover {
  0% {
    background-color: #404040;
  }
  13% {
    background-color: #404040;
  }
  15% {
    background-color: #ff0000;
  }
  17% {
    background-color: #404040;
  }
  43% {
    background-color: #404040;
  }
  45% {
    background-color: #00f7ff;
  }
  47% {
    background-color: #404040;
  }
  66% {
    background-color: #404040;
  }
  69% {
    background-color: #58ff52;
  }
  71% {
    background-color: #404040;
  }
  100% {
    background-color: #404040;
  }
}

.skills-box-container {
  overflow: hidden;
  background-color: #404040;
  width: 350px;
  height: 350px;
  padding: 3px;
}

.skills-box-container:hover {
  animation: skill-box-hover .5s infinite alternate-reverse;
}

@media only screen and (max-width: 480px) {
  .skills-page-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skillset-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill-list-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(212, 212, 212, 0.15);
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.skill-list-modal-background .skill-list-modal-container {
  color: #000810;
  width: 50%;
  min-height: 1em;
  background-color: #a0a0a0;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-section {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (minmax(115px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  min-height: 70px;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-section div p {
  font-size: .4em;
  margin: 0;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-section img {
  width: 60px;
  height: auto;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-section .react img {
  width: 100px;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-section .express img {
  width: 70px;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-header {
  width: 100%;
  background-color: #db3131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-header .skill-list-close-btn {
  background-color: rgba(0, 0, 0, 0);
  width: 35px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  border: none;
  float: right;
}

@media only screen and (max-width: 1000px) {
  .skill-list-modal-background .skill-list-modal-container {
    width: 90%;
  }
}
/*# sourceMappingURL=SPstyles.css.map */