.skills-page-container{
    background-color: #000000;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction:row;
    overflow: hidden;
    font-size: 3em;
}

.skills-header{
    text-align: center;
    width: 10rem;
    word-spacing: 10rem;
}

@keyframes skill-box-hover{
    0%{background-color: rgb(64,64,64)}
    13%{background-color: rgb(64,64,64)}
    15%{background-color: #ff0000}
    17%{background-color: rgb(64,64,64)}
    43%{background-color: rgb(64,64,64)}
    45%{background-color: #00f7ff}
    47%{background-color: rgb(64,64,64)}
    66%{background-color: rgb(64,64,64)}
    69%{background-color: rgb(88, 255, 82)}
    71%{background-color: rgb(64,64,64)}
    100%{background-color: rgb(64,64,64)}      
  }

.skills-box-container{
    overflow: hidden;
    background-color: rgb(64,64,64);
    width: 350px;
    height: 350px;
    padding: 3px;

    &:hover{
        animation: skill-box-hover .5s infinite alternate-reverse;
    }
}

@media only screen and (max-width: 480px){
    .skills-page-container{
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction:column;
    }
}

.skillset-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.skill-list-modal-background{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(212, 212, 212, 0.15);
    width: 100%;
    height: 100%;
    // pointer-events: none;
    display: grid;
    place-items: center;

    .skill-list-modal-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        color: black;
        width: 50%;
        min-height: 1em;
        background-color: rgb(160, 160, 160);
        .skill-list-close-btn{
            background-color:red;
            border-radius: 10px 10px 0 0;
            height: 3em;
            width: 100%;
            overflow: hidden;
            text-align: center;
            display: grid;
            cursor: pointer;
            place-items: center;
            border: none;
            box-shadow: 0 0px 15px 0px rgb(49, 49, 49);
        }
    }
}

@media only screen and (max-width: 1000px){
    .skill-list-modal-background{
        .skill-list-modal-container{
            width: 90%;
        }
    }
}