.skills-page-container{
    background-color: rgb(0, 8, 16);
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction:row;
    overflow: hidden;
    font-size: 3em;
}

.skills-header{
    display: grid;
    place-items: center;
}

@keyframes skill-box-hover{
    0%{background-color: rgb(64,64,64)}
    13%{background-color: rgb(64,64,64)}
    15%{background-color: #ff0000}
    17%{background-color: rgb(64,64,64)}
    43%{background-color: rgb(64,64,64)}
    45%{background-color: #00f7ff}
    47%{background-color: rgb(64,64,64)}
    66%{background-color: rgb(64,64,64)}
    69%{background-color: rgb(88, 255, 82)}
    71%{background-color: rgb(64,64,64)}
    100%{background-color: rgb(64,64,64)}      
  }

.skills-box-container{
    overflow: hidden;
    background-color: rgb(64,64,64);
    width: 350px;
    height: 350px;
    box-shadow:
    0px -2px 0 4px #0ff,
    -6px 4px 0 3px #f0f;
    &:hover{
        animation: skill-box-hover .5s infinite alternate-reverse;
    }
}

@media only screen and (max-width: 480px){
    .skills-page-container{
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction:column;
    }
}

.skillset-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.skill-list-modal-background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(212, 212, 212, 0.15);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    .skill-list-modal-container{
        color: rgb(255, 255, 255);
        width: 75%;
        min-height: 1em;
        background-color: rgba(0, 8, 16, 0.95);
        .skill-list-modal-scroll-list{
            max-height: 400px;
            overflow-y: auto;
            &::-webkit-scrollbar{
                width: 10px;
            }
            &::-webkit-scrollbar-track{
                background: rgb(149, 149, 149); 
            }
            &::-webkit-scrollbar-thumb {
                background: rgb(77, 97, 100); 
            }
            &::-webkit-scrollbar-thumb:hover {
                background: rgba(0, 31, 44, 0.644); 
            }
              
        }

        .skill-list-modal-section{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 5px;
                min-height: 70px;
                p{
                    font-size: .4em;
                    margin: 0;
                }
            }
            img{
                width: 60px;
                height: auto;
            }
            .react{
                img{
                    width: 100px;
                }
            }
            .express{
                img{
                    width: 70px;
                }
            }
        }
        .skill-list-modal-header{
            width: 100%;
            background-color:rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: white;
            .skill-list-close-btn{
                background-color:rgba(255, 255, 255, 0);
                fill: white;
                width: 35px;
                height: 35px;
                overflow: hidden;
                text-align: center;
                cursor: pointer;
                border: none;
                float: right;
                margin-right: 15px;
            }
        }
        .skill-list-header-title{
            margin-left: 15px;
        }
    }
}

@media only screen and (min-width: 480px){
    @keyframes btn-glitch {
        0% {
            z-index: 1;
            transform: translate(2px, -2px);
            color: #0ff;
        }
        20% {
            z-index: 1;
            transform: translate(-2px, 2px);
            color: #f0f;
        }
        40% {
            z-index: 1;
            transform: translate(-2px, -2px);
            color: #0ff;
        }
        60% {
            z-index: 1;
            transform: translate(2px, 2px);
            color: #f0f;
        }
        80% {
            z-index: 1;
            transform: translate(2px, -2px);
            color: #0ff;
        }
        to {
            z-index: 1;
            transform: translate(0);
            color: #f0f;
        }
    }
}


.btn-skill-list{
    border: none;
    background-color: rgb(0,8,16);
    border: 1px solid white;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    overflow-x: show;
    display: inline-block;
    position: relative;
    box-shadow:
    1px -1px 0 1px #f0f,
    -1px 1px 0 1px #0ff;

    &::before, &::after {
        height: 25px;
        width: 15px;
        background: rgb(0, 8, 16);
        position: absolute;
        content: '';
      }
    &::before {
        top: 0;
        left: 0;
        border-right: 1px solid white;
        box-shadow: inset -2px 0px 0 0px #f0f;
        transform: rotate(49deg) translate(-71%, -17%);
    }
    &::after {
        bottom: 0;
        right: 0;
        border-left: 1px solid white;
        box-shadow: inset 2px 0px 0 0px #0ff;
        transform: rotate(49deg) translate(71%, 17%);
      }
}
