.skills-page-container {
  background-color: #000810;
  width: 100%;
  height: 100vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  font-size: 3em;
}

.skills-header {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 520px) {
  .skills-page-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skillset-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill-list-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(212, 212, 212, 0.15);
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.skill-list-modal-background .skill-list-modal-container {
  color: white;
  width: 75%;
  min-height: 1em;
  background-color: rgba(0, 8, 16, 0.95);
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-scroll-list {
  max-height: 400px;
  overflow-y: auto;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-scroll-list::-webkit-scrollbar {
  width: 10px;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-scroll-list::-webkit-scrollbar-track {
  background: #959595;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-scroll-list::-webkit-scrollbar-thumb {
  background: #4d6164;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-scroll-list::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 31, 44, 0.644);
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-section {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (minmax(115px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  min-height: 70px;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-section div p {
  font-size: .4em;
  margin: 0;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-section img {
  width: 60px;
  height: auto;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-section .react img {
  width: 100px;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-section .express img {
  width: 70px;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-modal-header .skill-list-close-btn {
  background-color: rgba(255, 255, 255, 0);
  fill: white;
  width: 35px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  border: none;
  float: right;
  margin-right: 15px;
}

.skill-list-modal-background .skill-list-modal-container .skill-list-header-title {
  margin-left: 15px;
}

@media only screen and (min-width: 480px) {
  @-webkit-keyframes btn-glitch {
    0% {
      z-index: 1;
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
      color: #0ff;
    }
    20% {
      z-index: 1;
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
      color: #f0f;
    }
    40% {
      z-index: 1;
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
      color: #0ff;
    }
    60% {
      z-index: 1;
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
      color: #f0f;
    }
    80% {
      z-index: 1;
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
      color: #0ff;
    }
    to {
      z-index: 1;
      -webkit-transform: translate(0);
              transform: translate(0);
      color: #f0f;
    }
  }
  @keyframes btn-glitch {
    0% {
      z-index: 1;
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
      color: #0ff;
    }
    20% {
      z-index: 1;
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
      color: #f0f;
    }
    40% {
      z-index: 1;
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
      color: #0ff;
    }
    60% {
      z-index: 1;
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
      color: #f0f;
    }
    80% {
      z-index: 1;
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
      color: #0ff;
    }
    to {
      z-index: 1;
      -webkit-transform: translate(0);
              transform: translate(0);
      color: #f0f;
    }
  }
}

@-webkit-keyframes btn-hover-glitch {
  0% {
    text-shadow: 2px 2px .5px #0ff;
  }
  25% {
    text-shadow: -2px 1px .5px #f0f;
  }
  50% {
    text-shadow: 1px 1px .5px #0ff;
  }
  75% {
    text-shadow: -2px 3px .5px #f0f;
  }
  100% {
    text-shadow: 2px 2px .5px #0ff;
  }
}

@keyframes btn-hover-glitch {
  0% {
    text-shadow: 2px 2px .5px #0ff;
  }
  25% {
    text-shadow: -2px 1px .5px #f0f;
  }
  50% {
    text-shadow: 1px 1px .5px #0ff;
  }
  75% {
    text-shadow: -2px 3px .5px #f0f;
  }
  100% {
    text-shadow: 2px 2px .5px #0ff;
  }
}

.btn-skill-list {
  border: none;
  background-color: #000810;
  border: 1px solid white;
  color: white;
  font-size: 2rem;
  margin-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  overflow-x: show;
  display: inline-block;
  position: relative;
  -webkit-box-shadow: 1px -1px 0 1px #f0f, -1px 1px 0 1px #0ff;
          box-shadow: 1px -1px 0 1px #f0f, -1px 1px 0 1px #0ff;
}

.btn-skill-list::before, .btn-skill-list::after {
  height: 25px;
  width: 15px;
  background: #000810;
  position: absolute;
  content: '';
}

.btn-skill-list::before {
  top: 0;
  left: 0;
  border-right: 1px solid white;
  -webkit-box-shadow: inset -2px 0px 0 0px #f0f;
          box-shadow: inset -2px 0px 0 0px #f0f;
  -webkit-transform: rotate(49deg) translate(-71%, -17%);
          transform: rotate(49deg) translate(-71%, -17%);
}

.btn-skill-list::after {
  bottom: 0;
  right: 0;
  border-left: 1px solid white;
  -webkit-box-shadow: inset 2px 0px 0 0px #0ff;
          box-shadow: inset 2px 0px 0 0px #0ff;
  -webkit-transform: rotate(49deg) translate(71%, 17%);
          transform: rotate(49deg) translate(71%, 17%);
}

.btn-skill-list:hover {
  -webkit-animation: 0.3s btn-hover-glitch infinite;
          animation: 0.3s btn-hover-glitch infinite;
}

.skill-table-list {
  text-align: center;
  -webkit-box-shadow: -2px 2px 0 3px #0ff, 1px -2px 0 4px #f0f;
          box-shadow: -2px 2px 0 3px #0ff, 1px -2px 0 4px #f0f;
}

.skill-table-list thead th {
  font-size: 2rem;
  padding: 5px;
}

.skill-table-list thead tr {
  background-color: rgba(54, 54, 54, 0.246);
}

.skill-table-list tbody td {
  font-size: 1.25rem;
}

.skill-table-list tbody tr {
  background-color: rgba(116, 116, 116, 0.205);
}

.skill-table-list tbody tr:nth-child(even) {
  background-color: #8d8d8d3a;
}
/*# sourceMappingURL=SPstyles.css.map */