.front-page-container{
    --heading-font-size: 3em;
}

.front-page-container{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}


// Page divider
.custom-shape-divider-top-1624248328 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 76px;
    }
    .shape-fill {
        fill: #FFFFFF;
    }
}

.front-page-container{
    .divider-one{
        bottom: 3px;

        .shape-fill{
            fill: #ff0000;
        }
    }
    .divider-two{
        bottom: 1px;

        .shape-fill{
            fill: #ffffff;
        }
    }
    .divider-three{
        bottom: -1px;
        z-index: 2;
        .shape-fill{
            fill: #00f7ff;
        }
    }
    .divider-four{
        bottom: -3px;
        z-index: 3;
        .shape-fill{
            fill: #1a1a1a;
        }
    }
}


// Heading Glitch Effect
.glitch{
    color:white;
    font-size: var(--heading-font-size);
    position:relative;
    margin:0;
}
  @keyframes noise-anim{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
  }
  .glitch:after{
    content:attr(data-text);
    position:absolute;
    left:2px;
    text-shadow:-1px 0 red;
    top:0;
    color:white;
    background:black;
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    animation:noise-anim 2s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim-2{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
  }
  .glitch:before{
    content:attr(data-text);
    position:absolute;
    left:-2px;
    text-shadow:1px 0 blue; 
    top:0;
    color:white;
    background:black;
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    animation:noise-anim-2 3s infinite linear alternate-reverse;
  }

