.project-page-container{
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction:column;
    z-index: 2;
    font-size: 3em;
    text-align: center;
}

// Divider


// .project-page-container{
   
// }

// header

.project-header{
  position: relative;
  width: 100%;
  top: 15px;
}

// project list

.project-list-container{
  position: relative;
  top: 20%;
  width: 100%;
}