.project-page-container{
    background-color: #000000;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 3em;
    text-align: center;
  }
  
  // Divider
  
  
  // .project-page-container{
    
    // }
    
    // header
    
    .project-header{
      position: relative;
      width: 100%;
      top: 15px;
    }
    
    // project list

    @keyframes project-hover{
      0%{background-color: rgb(0, 0, 0)}
      14%{background-color: rgb(0, 0, 0)}
      15%{background-color: #ff0000}
      16%{background-color: rgb(0, 0, 0)}
      44%{background-color: rgb(0, 0, 0)}
      45%{background-color: #00f7ff}
      46%{background-color: rgb(0, 0, 0)}
      68%{background-color: rgb(0, 0, 0)}
      69%{background-color: rgb(88, 255, 82)}
      70%{background-color: rgb(0, 0, 0)}
      100%{background-color: rgb(0, 0, 0)}      
    }

    .single-project{
      background-color: rgb(16, 16, 16);
      min-height: 275px;
      border-radius: 10px;

      &:hover{
        animation: project-hover .5s infinite linear alternate-reverse;;
      }

    }

    .project-list-container{
      max-height: 100%;
      margin: 50px;
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    //skethci

    // @keyframes project-links-show {
    //   from {opacity: 0}
    //   to {opacity: 1}
    // }

    // @keyframes project-links-hide {
    //   from {opacity: 1}
    //   to {opacity: 0}
    // }

    .sketchi{

      padding: 4px;
      overflow: hidden;
      display: grid;
      place-items: center;

      .image{
        background-image: url("welcometosketchi.png");
        background-position: center bottom;
        background-size: cover;
        overflow: hidden;
        border-radius: 10px;
        width: 90%;
        height: 90%;
        display: grid;
        place-items: center;
        transition: height 1s, width 1s;
      }

      .project-links{
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:rgba(0, 0, 0, 0.479);
        opacity: 0;
        animation: project-links-hide 1s forwards;
        width: 85%;
        height: 85%;
        border-radius: 10px;
        overflow: hidden;
        transition:
        opacity 1s ease-in-out,
        height 1.2s ease-in-out,
        width 1.2s ease-in-out;

        .link-tag{
          width: 100px;
          display: flex;
          overflow: hidden;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          color: white;
          text-decoration: none;
          margin: 5px;
          
          .social-icon{
            margin: 5px;
          }
        }

        img{
          margin: 5px;
          border-radius:50%;
          width: 25px;
          height: 25px;
        }
        
        .img{
          margin: 5px;
          border-radius:50%;
          width: 25px;
          height: 25px;  
        }

      }


      &:hover{

        .image{
          height: 100%;
          width: 100%;
        }

        .project-links{
          opacity: .75;
          height: 100%;
          width: 100%;
        }
      }
    }