.project-page-container{
    background-color: rgb(0, 8, 16);
    width: 100%;
    height: 100%;
    color: white;
    font-size: 3em;
    text-align: center;
    overflow-x: hidden;
  }

  .project-list-container{
    margin: 50px;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
    
  // header
    
    .project-header{
      position: relative;
      width: 100%;
      top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
    }
    
    // project list

    @keyframes project-filter-img{
      5%, 45%, 85%{
        filter: grayscale(0%);
        opacity: 1;
        background-size: 25%;
      }
      0%, 8%, 20%, 28%, 40%, 48%, 60%, 68%, 80%, 88%{
        filter: grayscale(100%);
        opacity: .3;
        background-size: cover;
      }
      100%{
        background-size: cover;
        filter: grayscale(0%);
        opacity: 1;
      }
    }
    
    @keyframes project-filter-bg{
      5%, 30%{
        background-color:#ff0000b7;
      }
      45%{
        background-color: #91ff007a;
      }
      85%{
        background-color: #c8fb1f7a;
      }
      0%, 20%, 70%, 95%, 100%{
        background-color: rgba(0, 0, 0, 0);
      }
    }

    .single-project-container{
      background-color: rgba(64, 64, 64, 0.25);
      box-shadow:
      1px -3px 0 4px #f0f,
      -6px 4px 0 3px #0ff;
      max-width: 350px;
      margin: auto;
    }

    .single-project{
      min-height: 275px;

      .project-img-filter{
        width: 90%;
        height: 90%;
        overflow: hidden;
        display: grid;
        place-items: center;
        // border-radius: 10px;
        transition: height 1s, width 1s;
      }

      @media only screen and (min-width: 500px){
        &:hover{
          .project-img-filter {
            animation: project-filter-bg .5s forwards;
            width: 100%;
            height: 100%;
            .image{
              animation: project-filter-img 1s forwards ease-in;
            }
          }
          .project-links{
            opacity: 1;
            height: 200%;
            width: 200%;
          }
        }
      }

    }

    .project-desc{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 10px;
      h3, p {
        margin: 0;
      }
      p{
        font-size: .35em;
      }
      h3{
        font-size: .4em;
        margin-top: 15px;
      }
    }

    //skethci
      
      .sketchi{
      overflow: hidden;
      display: grid;
      place-items: center;

      .image{
        background-image: url("welcometosketchi.png");
        background-position: center bottom;
        background-size: cover;
        overflow: hidden;
        // border-radius: 10px;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
      }

      .project-links{
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:rgba(0, 0, 0, 0.479);
        opacity: 0;
        width: 0px;
        height: 0px;
        // border-radius: 10px;
        overflow: hidden;
        transition:
        opacity .4s ease-in-out,
        height 1.2s ease-in-out,
        width 1.2s ease-in-out;

        .link-tag{
          width: 100px;
          display: flex;
          overflow: hidden;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          color: white;
          text-decoration: none;
          margin: 5px;
          
          .social-icon{
            margin: 5px;
          }
        }

        img{
          margin: 5px;
          border-radius:50%;
          width: 25px;
          height: 25px;
        }
        
        .img{
          margin: 5px;
          border-radius:50%;
          width: 25px;
          height: 25px;  
        }

      }




      @media only screen and (max-width: 500px){
          .project-links{
            opacity: 1;
            background-color:rgba(0, 0, 0, 0.267);
            width: 100%;
            height: 100%;
        }
      }
    }

